[submodule "2026_산업컴퓨터비전실제_중간프로젝트_날씨분류기"]
	path = 2026_산업컴퓨터비전실제_중간프로젝트_날씨분류기
	url = https://github.com/artelee/weather_classifier.git
[submodule "2026_산업컴퓨터비전실제_실습_VISION알고리즘"]
	path = 2026_산업컴퓨터비전실제_실습_VISION알고리즘
	url = https://github.com/artelee/vision_algorithm
[submodule "2026_지능형캡스톤_실습"]
	path = 2026_지능형캡스톤_실습
	url = https://github.com/artelee/2026_Capstone
[submodule "2025_딥러닝실제_실습"]
	path = 2025_딥러닝실제_실습
	url = https://github.com/artelee/deeplearning-level2
[submodule "2025_어프렌티스프로젝트_실습"]
	path = 2025_어프렌티스프로젝트_실습
	url = https://github.com/artelee/2025_Apprentice_AI
[submodule "2025_강화학습실제_실습"]
	path = 2025_강화학습실제_실습
	url = https://github.com/artelee/2025_reinforce_quiz
[submodule "2025_강화학습실제_DQN구현"]
	path = 2025_강화학습실제_DQN구현
	url = https://github.com/artelee/dqn
[submodule "2025_강화학습실제_Atari game PONG_구현코드"]
	path = 2025_강화학습실제_Atari game PONG_구현코드
	url = https://github.com/artelee/rein-pingpong
[submodule "2025_어프렌티스프로젝트_미세먼지모델_프로젝트"]
	path = 2025_어프렌티스프로젝트_미세먼지모델_프로젝트
	url = https://github.com/artelee/regession_project.git
